<!-- Tạo 1 file tên .env cùng cấp với file này copy các trường dưới -->

VITE_APP_API_URL=http://localhost:8080
VITE_PORT=5173
VITE_SITE_KEY_CAPTCHA=0x4AAAAAAAkocsFy9K2bXTdv
VITE_FIREBASE_API_KEY=AIzaSyBdZH8CYMxGJPf9k7HRGsJ3jc9mvnlpkRM
VITE_FIREBASE_AUTH_DOMAIN=rrms-b7c18.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rrms-b7c18
VITE_FIREBASE_STORAGE_BUCKET=rrms-b7c18.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=116836229300
VITE_FIREBASE_APP_ID=1:116836229300:web:0c9af9e4134464a56bf7e1
