.login-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}

.login-content-container {
    max-width: 800px;
    min-width: 300px;
    width: 100%;
    align-self: center;
}

.login-form-container {
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.login-form-1 {
    padding: 5%;

}

.login-form-1 h3 {
    text-align: center;
    color: #333;
}

.login-form-2 {
    padding: 3%;
    background: linear-gradient(to left, #6fceee, #4bcffa);
}

.login-form-2 h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 5%;
}

.container-input {
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.container-input input {
    border: 0px;
    border-radius: 0px;
    padding: 15px 10px;
    font-weight: bold;
}

.btnSubmit {
    width: 50%;
    border-radius: 5px;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color:  #4bcffa;
    color: white;
    background-image: linear-gradient(to right,  #6fceee, #4bcffa);
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px;
}

.btnSubmitZalo{
    width: 50%;
    border-radius: 5px;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #1282fc;
    color: white;
    display: inline-block;
    width: 100%;
    margin: 5px 0px 10px 0px;
    border-radius: 10px;
    padding: 5px;
}

.ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.message{
    padding: 0;
    text-align: center;
}

#app_loading {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffffc2;
    top: 0;
    bottom: 0;
    left: 0;
    color: #000;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#app_loading.show {
    display: inherit !important;
}

h1.title {
    font-weight: 700;
    line-height: 130%;
    color:#4bcffa
}

h1.title .title-feature {
    color: #4bcffa;
}

h2.title {
    font-weight: 800;
    line-height: 130%;
    color: #000;
}

h2.title .title-feature {
    color: #4bcffa
}

.image-dowload-app{
    border-radius: 10px;
    display: inline-block;
}

.form-group {
    position: relative;
}

.invalid-feedback {
    position: absolute;
    bottom: 3px;
    left: 10px;
    font-size: 11px;
}

.password-container {
    position: relative;
}
.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-facebook {
    background: #3C5A99;
    border-color: #3C5A99;
    color: #fff;
}
.btn-googleplus {
    background: #C73E2E;
    border-color: #C73E2E;
    color: #fff;
}

.btn-social-outline {
    background-color: transparent;
    border-color: var(--gk-gray-400);
}

.btn-social {
    background-color: var(--gk-gray-200);
    border: 1px solid transparent;
    border-radius: .375rem;
    color: var(--gk-gray-500);
    display: inline-block;
    font-size: .875rem;
    height: 2.25rem;
    line-height: 2.25rem;
    padding: 0;
    text-align: center;
    transition: border-color .25s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out;
    width: 2.25rem;
}