*.sql linguist-detectable=true
*.sql linguist-language=SQL
*.html linguist-detectable=true
*.html linguist-language=HTML
Dockerfile linguist-detectable=true
Dockerfile linguist-language=Dockerfile
docker-compose.yml linguist-language=Dockerfile
.dockerignore linguist-language=Dockerfile
DFD.drawio linguist-language=Dockerfile
