.banner {
  height: 570px;
  background-image: url(https://quanlytro.me/images/backgrounds/bg-banner.webp);
}

.title {
  font-size: 2.5rem;

  color: #5eb7ff;
}

.text-gradient {
  background: -webkit-linear-gradient(0deg, #e84452 0%, #6119da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-media {
  padding: 15px !important;
  font-size: 20px !important;
  background: #faca4b !important;
  color: black !important;
  border-radius: 10px !important;
}

.btn-registry {
  background-color: #5eb7ff !important;
  color: white !important;
  border-radius: 10px !important;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inner-banner {
  text-align: center;
}
@media (max-width: 428px) {
  .banner {
    padding-top: 30px;
    height: 820px;
    background-image: url(https://quanlytro.me/images/backgrounds/bg-banner.webp);
  }

  .title {
    width: 360px;
    font-size: 2.5rem;
    color: #5eb7ff;
  }
  .title-descrip {
    width: 360px;
  }
  .image-slider img {
    display: none; /* Ẩn hình ảnh tại kích thước màn hình nhỏ hơn 428px */
  }
  .button1 {
    flex-direction: column;
    align-items: center;
  }
  .btn-registry {
    margin-right: 49px !important;
  }
}

/* Highlights */
.header-title {
  font-size: 100px;
  font-weight: bold;
}
.feature-home {
  background-color: white;
  padding: 20px;
}

.container1 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.img-fluid {
  width: 100%;
  border-radius: 8px;
}

.custom-box {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffe880;
  height: 234px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.svg-icon {
  margin-top: 10px;
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
}

.subtitle-strong {
  font-weight: bold;
}
.platform-app {
  background-color: #ffffff;
}

.item-inner {
  padding: 30px 0;
}
@media (max-width: 428px) {
  .custom-box {
    height: 192px;
  }
  .subtitle-strong {
    display: none;
  }
}

/*  */

/* Quản lý trên đa nền tảng */
.inner {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image img {
  max-width: 100%;
  height: auto;
}

.btn-platform {
  background-color: #007bff;
  border-radius: 100px !important;
  color: white;
}

.text-align-justify {
  text-align: justify;
}

/* Với những tính năng tuyệt vời phần mềm quản lý sẽ hỗ trợ bạn.*/
.function {
  padding: 20px;
}

.function-main {
  margin-top: 20px;
}

.item-wrap {
  display: flex;
  height: 180px;
  flex-direction: row;
}

.item-image {
  max-width: 100%;
  border-radius: 10px;
}

.item-content-des {
  font-size: 14px;
  color: #444;
}
@media (max-width: 428px) {
  .item-wrap {
    height: 230px;
  }
  .item-wraptext {
    font-size: 20px !important;
  }
}

/*  Lý do chủ nhà chọn chúng tôi*/
.section-title {
  font-size: 24px;
  font-weight: bold;
}

.section-description {
  margin: 20px 0;
  font-size: 16px;
}

.testimonial-inner {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-thumb {
  margin-bottom: 15px;
}

.testimonial-title {
  font-weight: bold;
  margin-top: 10px;
}

.rounded {
  border-radius: 10px;
}

/* Đồng hành cùng chúng tôi */
/* .bg-customer{
  background-color: #000000;
  background-image: url(https://smartos.space/wp-content/uploads/2022/05/map-base-1.png);
} */
.col-inner {
  padding: 10px;
  height: 120px;
  border-radius: 8px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.item-logo .inner-item {
  padding: 10px;
}

.card-feature {
  padding: 20px;

  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.card-feature h3 {
  margin-bottom: 10px;
}

.about-us {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

@media (max-width: 428px) {
  .card-feature {
    height: 410px;
  }
}
